<ion-view view-title="{{project.title}}" ng-init="init()">
  
  <ion-content class="padding">
      <img ng-src="{{project.thumbnail}}" style="width: 64px; height: 64px">
      <p>
        {{project.description}}
      </p>



      <ion-list>

        <ion-item ng-repeat="view in project.views" href="#/projects/details/{{view.viewId}}">{{view.title}}

        </ion-item>
<ion-item ng-repeat="project in projects" class="projects" href="#/projects/{{project.id}}">
<div class="titleProject"><h4>{{project.title}}<h4></div><div class ="projectphoto"><img src="{{project. tumbnail}}"></div><div class="descriptionProject"><p>{{project.description}}</p></div> </ion-item> 


      </ion-list>


  </ion-content>
</ion-view>