  
<ion-view title="Projects" ng-init="init()">
  <ion-content>

      <ion-list>

         <form ng-submit="addProject(projectCode)">

          <label class="item item-input">
            <input type="text" placeholder="Add project" ng-model="projectCode">
          </label>
        
          <button type="submit" class="button button-positive">
            <i class="icon ion-ios-new"></i>
          </button>

        </form>


        <ion-item ng-repeat="project in projects" href="#/projects/{{project.id}}">{{project.title}}</ion-item>

      </ion-list>

  </ion-content>
</ion-view>