<ion-view view-title="{{project.title}}" ng-init="init()">
  
<div class="bar bar-subheader">
   <hr>
      <h2 >Viewpoints map</h2>


        </div>
  <ion-content class="has-subheader">


    <img src="./img/projectplattegrond.jpg" alt="">
        </div>

  <ion-list>
   
        <ion-item class="itemView" ng-repeat="view in project.views" href="#/projects/details/{{view.viewId}}">

        <img class="thumbnail" ng-src="{{project.thumbnail}}" >
        <div class="rightDescription  item-body"><h4>{{view.title}}</h4><!-- <div class="description" ><P>Hier kun je de tuin in VR zien.</P></div> --> <button class="viewButton button-outline button-positive">
view in VR!
</button>
</div>


        </ion-item>
    

  </ion-content>
</ion-view>